body {
    text-align: center;
    background-color: SlateGrey;
}
input[type="radio"] {
    display:inline-block;
    width:25px;
    height:25px;
}

.trans{
    color: white;
    font-family: "Times New Roman";
    font-size: 1.2em;
    display: inline-block;
    margin:  10px;
    background-color: SlateGrey;
    border-radius: 10px;
    height: 25px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
}

p {
    color: black;
    font-family: "Times New Roman";
    font-size: 1.2em;
    display: inline-block;
    margin:  10px;
    background-color: #abbd81;
    border-radius: 10px;
    height: 25px;
    width: 230px;
    text-align: center;
    vertical-align: middle;
}
img {
    margin: 30px 0 20px 0;
    width: 250px;
}
input {
  width: 250px;
  margin: 15px 15px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: Shanti;
  font-size: 1.3em;
  text-align: center;
}

button{
  width: 250px;
  margin: 20px 20px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: Shanti;
  font-size: 1.3em;
  text-align: center;
}
button:focus {
    outline: none;
    border: solid 3px #f8b26a;
}

input:focus {
    outline: none;
    border: solid 3px #f8b26a;
}

#greet {
    background-color: PaleVioletRed;
    border:  none;
    width:  200px;
    color: white;
}

#greet:hover {
    background-color: MediumVioletRed;
}

.loader02 div {
  margin:  10px;
  position: absolute;
  width: 35.2px;
  height: 35.2px;
  border-radius: 50%;
  transform: translate(70.4px,70.4px) scale(1);
  background: #e15b64;
  animation: loader03 2s infinite cubic-bezier(0,0.5,0.5,1);
}
.loader02 div:nth-child(1) {
  background: #f47e60;
  transform: translate(130.24px,70.4px) scale(1);
  animation: loader04 0.5s infinite cubic-bezier(0,0.5,0.5,1), loader05 2s infinite step-start;
}.loader02 div:nth-child(2) {
  animation-delay: -0.5s;
  background: #e15b64;
}.loader02 div:nth-child(3) {
  animation-delay: -1s;
  background: #f47e60;
}.loader02 div:nth-child(4) {
  animation-delay: -1.5s;
  background: #f8b26a;
}.loader02 div:nth-child(5) {
  animation-delay: -2s;
  background: #abbd81;
}
.loader {
  margin:  10px;
  width: 200px;
  height: 176px;
  display: inline-block;
  overflow: hidden;
}
.loader02 {
  margin:  10px;
  width: 200px;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loader02 div { box-sizing: content-box; }

@keyframes loader03 {
   0% { transform: translate(10.56px,70.4px) scale(0); }
  25% { transform: translate(10.56px,70.4px) scale(0); }
  50% { transform: translate(10.56px,70.4px) scale(1); }
  75% { transform: translate(70.4px,70.4px) scale(1); }
 100% { transform: translate(130.24px,70.4px) scale(1); }
}
@keyframes loader04 {
   0% { transform: translate(130.24px,70.4px) scale(1); }
 100% { transform: translate(130.24px,70.4px) scale(0); }
}
@keyframes loader05 {
   0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
 100% { background: #e15b64 }
}