<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>StyleTransfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                   <p style="background-color: palevioletred; color: black">{{ message }}</p><br>
               {% endfor %}
         {% endif %}
      {% endwith %}
    <form id="form01" action="img1" method="post" onsubmit="btn01.disabled = true; return true;">
        <input type="radio" name="rad1" value="rad1_url" id="rad1_url" onclick="img_type(0)" checked>
        <label for="rad1_url" id="rad1_text1">網址</label>
        <input type="radio" name="rad1" value="rad1_file" id="rad1_file" onclick="img_type(1)">
        <label for="rad1_file" id="rad1_text2">本機</label>
        <br>
        <p>請上傳您的內容圖片</p>
        <input type="text" name="img1_url" id="url01">
        <input type="file" name="img1_file" id="file01"  accept="image/png, image/jpeg, image/png"
               style="display: none;">
        <input type="submit" value="上傳內容圖片" id="btn01">
        <br>
    </form>
    {% if file1 %}
        <p class="success">內容圖片已上傳</p>
        <br>
    {% endif %}
    <form id="form02" action="img2" method="post" onsubmit="btn02.disabled = true; return true;"  style="display: none;">
        <input type="radio" name="rad2" value="rad2_url" id="rad2_url" onclick="img_type(2)" checked>
        <label for="rad2_url" id="rad2_text1">網址</label>
        <input type="radio" name="rad2" value="rad2_file" id="rad2_file" onclick="img_type(3)">
        <label for="rad2_file" id="rad2_text2">本機</label>
        <br>
        <p>請上傳您的風格圖片</p>
        <input type="text" name="img2_url" id="url02">
        <input type="file" name="img2_file" id="file02" accept="image/png, image/jpeg, image/png"
               style="display: none;">
        <input type="submit" value="上傳風格圖片" id="btn02">
        <br>
    </form>
    {% if file2 %}
        <p class="success">風格圖片已上傳</p>
        <br>
    {% endif %}
    <form id="form03" action="trans" method="post" onsubmit="btn03.disabled = true; return true;" style="display: none;">
        <input type="submit" value="轉換圖片" id="btn03" onclick="loader()" disabled><br>
        {% if file1 %}
        <div>
            <img src="{{ file1 }}" onload="changetype(1)">
        {% endif %}
        {% if file2 %}
            <img src="{{ file2 }}" onload="changetype(2)">
        {% endif %}
        {% if file3 %}
            <img src="{{ file3 }}" onload="changetype(3)">
        {% else %}
            <div class="loader"  id="loader" style="display: none;">
                <div class="loader02"  id="loader02" style="display: none;">
                    <div></div><div></div><div></div><div></div><div></div>
                    <p class="trans">轉換中</p>
                </div>
            </div>
        </div>
        {% endif %}
    </form>

    <form id="form04" action="again" onsubmit="btn03.disabled = true; return true;" style="display: none;">
        <br>
        <button><a href="../static/Images/stylized_image.png" download="output" style="text-decoration:none; color: black">
                下載轉換後圖片 </a></button>
        <input type="submit" value="再玩一次" id="btn04">
    </form>
</body>
<script type="text/javascript">
    function img_type(val1){
        if(val1 == '0'){
            document.getElementById('url01').style.display='inline';
            document.getElementById('file01').style.display='none';
        }
        else if(val1 == '1') {
            document.getElementById('url01').style.display='none';
            document.getElementById('file01').style.display='inline';
        }
        else if(val1 == '2') {
            document.getElementById('url02').style.display='inline';
            document.getElementById('file02').style.display='none';
        }
        else if(val1 == '3') {
            document.getElementById('url02').style.display='none';
            document.getElementById('file02').style.display='inline';
        }
        return
    }
    function changetype(value){
        　if(value=='1'){
            document.getElementById('form01').style.display='none';
            document.getElementById('form02').style.display='inline';
            document.getElementById('form03').style.display='inline';
             }
        else if(value=='2'){
            document.getElementById('form02').style.display='none';
            document.getElementById('btn03').disabled=false;
        　}
        else if(value=='3'){
            document.getElementById('btn03').disabled=true;
            document.getElementById('form04').style.display='inline';
         }
        return
    }
    function loader(){
            document.getElementById('loader').style.display='inline-block';
            document.getElementById('loader02').style.display='inline-block';
    }
</script>
</html>